

/* ใช้กับ <div className="app-container"> */

.app-container {
  width: 1440px;
  height: 1033px;
  margin: 0 auto;
  padding: 108px 64px 108px 64px  ;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  opacity: 1;
  transform: rotate(0deg);
  background-color: #FFFDFB;
}

/* ใช้กับ <Row className="header-row" justify="center"> */
.header-row {
  display: flex;
  justify-content: center;
}

/* ใส่รอบ <Space> อีกชั้น: <div className="header-wrapper"> */
.header-wrapper {
  width: 1312px;
  height: 137px;
  padding: 108px 64px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* ใช้กับ <Space className="header-space" direction="vertical"  */
.header-space {
  text-align: center;
}

/* ใช้กับ <Title className="header-title" level={2}> */
.header-title {
  
  font-family: "Poppins", sans-serif;
  font-weight: 600;          /* SemiBold */
  font-style: normal;        /* Regular for SemiBold */
  line-height: 120%;         /* ถ้าต้องการใช้แบบเปอร์เซ็นต์ */
  letter-spacing: -1%;       /* ลดช่องว่างตัวอักษร 1% */
  text-align: center;        /* จัดข้อความกึ่งกลาง */
}

/* ใช้กับ <Paragraph className="header-subtitle"> */
.header-subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}


/* ใช้กับ <Row className="features-row" justify="center"> */
.features-row {
  display: flex;
  justify-content: center;
}

/* ใช้กับ <div className="features-wrapper"> */
.features-wrapper {

  width: 1382px;
  height: 554px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin: 0 auto;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none;  /* ซ่อน scrollbar ใน IE และ Edge */
    scrollbar-width: none;     /* ซ่อน scrollbar ใน Firefox */
}

.arrow-wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;   /* ระยะห่างระหว่าง pill แต่ละอัน */
}
/* สไตล์ปุ่มลูกศร */
.arrow-btn {
  box-sizing: border-box;
  background: #EAEAEA;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;


  
}



